/* Reseta o CSS e define o layout básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #ffa361; */
}

body, html {
    height: auto;
    margin: 0;
 
    background-image: url('images/path-to-background-image2.png'); 
    background-position: right top;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #dcf1d0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #333;
    height: 95px;
    position: relative;
    margin-bottom: 30px;
}

.circle-mask {
    width: 150px;
    height: 150px;
    background-color: #f4f4f4;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: -75px;
    transform: translateX(-50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.circle-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div-central {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 550px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #333; */
    border-radius: 20px;
    padding: 20px;
    padding-top: 90px;
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-linksU {
    text-align: right;
    margin-top: -72px !important;
    color: #f4f4f4;
}

.btn-link-custom {
    background-color: #f4f4f4;
    color: #333;
    width: 100%;
    max-width: 385px;
    text-align: left;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

a {
    text-decoration: none !important;
}

.btn-link-custom:hover {
    background-color: #555;
    color: #f4f4f4;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.8);
}

.icon-mask {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 15px;
}

.icon-mask img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-text {
    flex-grow: 1;
    padding-left: 10px;
    font-size: 1.1em;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* background-color: #333; */
    color: #fff;
    position: relative;
    bottom: 0;
    left: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.logo {
    width: 120px;
    height: auto;
    margin: 0 2px;
}

.p-text-center-footer {
    font-size: small;
    color: #333;
    margin: 0;
}

/* Estilos para o Popup Modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #333;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.close {
    color: #fff;
    float: left;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.modal-buttons a {
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.modal-buttons .btn-success {
    background-color: #28a745;
}

.modal-buttons .btn-primary {
    background-color: #007bff;
}


/* Media Queries para responsividade */
@media (max-width: 768px) {
    .circle-mask {
        bottom: -50px;
        width: 120px;
        height: 120px;
    }

    /* .header {
        height: 80px;
    } */

    .container {
        margin-top: 110px;
        padding: 0 15px;
        width: 100%;
    }

    .btn-link-custom {
        max-width: 100%;
        padding: 8px 12px;
    }

    .footer {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 100px;
    }

    .p-text-center-footer {
        font-size: 0.9em;
    }

    .container {
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

/* PAGINA DE VENDAS - PAGAMENTO DESAFIO NUTRIR FIT CARNAVAL */

body {
    /* max-width: 430px; Limita a largura da página para o iPhone 14 */
    /* margin: 0 auto; Centraliza o conteúdo na tela */
    overflow-x: hidden; /* Evita rolagem horizontal */
}

.bg-pay {
    background-color: #000000;
}

.header-lp_pay {
    background-color: #72D93A;
    height: 12px;
    position: relative;
    margin-bottom: 30px;
}

.logo-desafio {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-left: 6px;
}

.tlt-lp01 {
    margin-top: 105px;
    font-size: 16px;
    font-weight: bold;
    color: #FAD54D;
}

.cta-lp01 {
    padding-bottom: 0px;
}

.ld-pay {
    color: #f2ae11;
}

.link-container.btn-pay-pag1 {
    padding: 0px;
    padding-top: 0px;
    text-align: center;
}

.text-linksU-pay {
    margin-top: -50px !important;
    padding: 10px 35px;
    color: #FAD54D;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #FAD54D;
    display: inline-block;
    text-decoration: none;
    -webkit-text-stroke: 0.5px #FAD54D;
    text-stroke: 1px #FAD54D;
    background-color: transparent;
    border-radius: 16px;
    transition: all 0.3s ease;
    text-align: center;
    line-height: 1.5;
    min-width: 150px;
}

.text-linksU-pay:hover {
    background-color: #FAD54D;
    color: #000;
    -webkit-text-stroke: 1px transparent;
    text-stroke: 1px transparent;
}

/* # Benefícios do Desafio */

.lp-pay-beneficios {
    text-align: left;
    margin-top: 45px;
}

.tlt-lp02 {
    color: #FAD54D;
    font-weight: bold;
    font-size: 16px;
}

.p-beneficios {
    font-size: 14px;
    padding-left: 15px;
    padding-top: 5px;
}

.lista-detalhes {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tlt-lp03 {
    color: #FFA500;
    font-weight: bold;
    font-size: 16px;
}

.lp-pay-detalhes {
    text-align: left;
    margin-top: 45px;
}

.lista-detalhes li p {
    font-size: 14px;
    padding-left: 0px;
    padding-top: 0px;
    color: #FAD54D;
}

.lista-detalhes li {
    display: flex;
    align-items: left;
    margin-bottom: 0px;
}

.icone-check {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/images/icon_check.png');
    background-size: cover;
    margin-right: 10px;
}

.lp-pay-nutri {
    text-align: left;
    margin-top: 30px;
}

.tlt-lp04 {
    color:#FAD54D;
    font-weight: bold;
    font-size: 16px;
}

.p-nutri {
    font-size: 14px;
    padding-left: 15px;
    padding-top: 5px;
    margin-top: 50px;
    color: #FAD54D;
}

.img-nutri {
    margin-bottom: -40px;
}

.link-container-2.btn-pay-pag2 {
    padding: 0px;
    padding-top: 20px;
    text-align: center;
}

.text-pay-2 {
    color: #72D93A;
    font-size: 14px;
}

.text-linksU-pay-2 {
    margin-top: 0px !important;
    padding: 10px 35px;
    color: #72D93A;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #72D93A;
    display: inline-block;
    text-decoration: none;
    -webkit-text-stroke: 0.5px #72D93A;
    text-stroke: 1px #72D93A;
    background-color: transparent;
    border-radius: 16px;
    transition: all 0.3s ease;
    text-align: center;
    line-height: 1.5;
    min-width: 150px;
}

.text-linksU-pay-2:hover {
    background-color: #72D93A;
    color: #000;
    -webkit-text-stroke: 1px transparent;
    text-stroke: 1px transparent;
}

.ftr-lp-pay {
    background-color: #F35F63 !important;
    color: #000;
    padding: 0px;
    padding-bottom: 2px;
}

/* # Depoimentos e resultados */

.lp-pay-dep {
    text-align: left;
    margin-top: 45px;
}

.tlt-lp05 {
    color: #FAD54D;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.subtlt-dep {
    margin-top: -10px;
    display: block;
    margin-bottom: 15px;
}

.img-dep {
    margin-bottom: 20px;
}

.img-dep img {
    max-width: 100%;
    height: auto;
}

.link-container-2.btn-pay-pag3 {
    padding: 0px;
    padding-top: 10px;
    text-align: center;
}

/* # Cronometro */

.countdown-container {
    text-align: center;
    background-color: #000000;
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.countdown-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.countdown-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.countdown-timer {
    display: flex;
    justify-content: space-around;
}

.timer-block {
    background-color: #131313;
    padding: 15px;
    border-radius: 10px;
    width: 80px;
    margin: 0 10px;
    color: #72D93A;
}

.timer-block span {
    display: block;
    text-align: center;
}

.timer-block span:first-child {
    font-size: 32px;
    font-weight: bold;
}

.timer-block .timer-label {
    font-size: 14px;
    color: #bbb;
}